#edit-form{
  margin: 1em;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  background: #ddd;
}

#edit-form input, textarea{
  width: 50%;
  margin: 0.5em 0;
}

#edit-form p {
  margin: 0;
}